<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edwin.ayllu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MonitorMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MonitoringRegistrationFormActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".administrador.Administrador"
            android:screenOrientation="portrait"/>
        <activity android:name=".administrador.UsuariosAdapter"
            android:screenOrientation="portrait"/>
        <activity android:name=".administrador.EditMonitor"
            android:screenOrientation="portrait"/>
        <activity android:name=".SeleccionArea"
            android:screenOrientation="portrait"/>
        <activity android:name=".MonitoreosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FormRespuesta"
            android:screenOrientation="portrait"/>
        <activity android:name=".MonitorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MontoreosPuntosCriticos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InformacionPuntoCritico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FiltrarActividad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".administrador.InformacionGeneralMonitor"
            android:screenOrientation="portrait" />
        <activity android:name=".ActividadEstadisticaPuntoAfactacion"></activity>
    </application>

</manifest>