<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qhapaq.nan.ayllu"
    android:installLocation="internalOnly">

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.MonitorMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.AdminActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.InstitutionalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.FormRespuesta"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.MonitoringActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.MontoreosPuntosCriticos"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.InformacionPuntoCritico"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.FilterMonitoringActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.ActividadEstadisticaPuntoAfactacion"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.PrestentationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.GraficaRespuestaInstitucional"
            android:launchMode="singleTask" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.ActivitySeleccionTramoFiltro"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.GraficaTortaVariables"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.MenuGraficasEstadisticas"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.SettingsAppActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.AboutAppActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qhapaq.nan.ayllu.ui.GraficaAnalisisVariableTiempo"
            android:launchMode="singleTask" />
        <activity android:name="com.qhapaq.nan.ayllu.ui.AdminUserTransactionActivity"></activity>
    </application>

</manifest>